body {
	background-color: #23351E;
}

h1 { 
	font-size: 30px;
	text-align: center;
	color : #C08497 ;
	font-family: 'Cinzel Decorative', cursive;



}

#photo {
	height: 300px;
	text-align: center; 
	border-radius: 70%
}

p {
	color: #C08497;
	font-family: 'Great Vibes', cursive;
}


.card-white {
	background-color: 0px 10px 30px rgba(0,0,0,0,1)
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;

}

/*custom design*/
.container {
	width: 700px; 
	margin: 40px auto; 

}

.card-white {
	background-color: #710627;
	padding: 20px; 
	box-shadow: 0px 10px 30px rgba(0,0,0,1)
	border-radius:4px;
	margin: 20px 0px;
	text-align: center;
}

















